@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-gray-50 text-gray-800 antialiased;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.ag-theme-alpine .ag-header-cell {
  text-align: center;
  font-weight: bold;
}
.ag-header-viewport {
  background-color: #f4f4f8;
  border-bottom: 2px solid #ccc;
}
.ag-header-group-cell-label,
.ag-header-cell-label {
  justify-content: center;
}

.ag-theme-alpine .ag-cell {
  text-align: center;
}
.ag-theme-alpine .ag-row-hover {
  background-color: #f0f8ff !important; /* Light blue */
}
.ag-theme-alpine .ag-row-hover .ag-cell {
  background-color: #f0f8ff !important; /* Light blue */
}
